/* Code tidied up by ScrapBook */
.wap-donghu-bg { display: none; }
.wap-nav-box { display: none; }
.wap-subnav { display: none; }
.height-section { display: none; }
.wap-erweima-box { display: none; }
#head-pc { border-bottom: 1px solid rgb(238, 238, 238); }
#head-pc .main { width: 1200px; height: 78px; margin: 0px auto; }
#head-pc .main a { outline: medium none; }
#head-pc .main .logo { float: left; margin-top: 24px; }
#head-pc .main .logo img{display: inline-block;height: 32px;}
#head-pc .main .nav { margin-left: 85px; line-height: 75px; font-size: 18px; float: right; border-bottom: 3px solid rgb(248, 248, 248); color: #000; }
#head-pc .main .nav.active { border-color: #2b63ae; color: #2b63ae; }
#head-pc .main .nav:hover { border-color: #2b63ae; color: #2b63ae; }
.warp .pc-hide { display: none; }
/* .pc-hide { display: none; } */
.case-series-wap { display: none; }
.top-scroll { display: none; }
.subnav { background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; z-index: 999999; width: 100%; }
.subnav .main { width: 1200px; padding: 17px 0px; margin: 0px auto; overflow: hidden; }
.subnav a { width: 100px; height: 35px; margin-left: 29px; float: right; display: block; text-align: center; line-height: 35px; color: rgb(102, 102, 102); font-size: 16px; }
.subnav a:hover { background: #2b63ae none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.subnav a.active { background: #2b63ae none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.subnav-fixed{ position:fixed; left:0px; top:0px; z-index:999999;border-bottom: 1px solid #eee;}
.head-wap { display: none; }
/*滚轮向上*/
.head-pc-scroll{ position:absolute; background:#fafafa; width:100%; top:0px; left:0px; transition:top 0.3s; -webkit-transition:top 0.3s; transition:top 0.3s;}
.head-pc-scroll-fiexd{ width:100%; position:fixed; left:0px; top:0px; display:block; background:#fafafa; z-index:1111111111111111;}
#head2-pc{ transition:top 0.3s; -webkit-transition:top 0.3s; transition:top 0.3s;}
#foot-pc { border-top: 1px solid rgb(34, 34, 34); }
#foot-pc .foot-top { width: 1200px; padding: 64px 0px; margin: 0px auto; }
#foot-pc .foot-top .coop-btn { width: 172px; line-height: 43px; text-align: center; color: rgb(255, 255, 255); font-size: 18px; float: right; background: rgb(255, 151, 14) none repeat scroll 0% 0%; }
#foot-pc .foot-top .coop-btn:hover { background: rgb(255, 159, 35) none repeat scroll 0% 0%; }
#foot-pc .foot-top .foot-address { width:327px; color: rgb(51, 51, 51); float: left; height: 110px; position: relative;}

#foot-pc .foot-top .foot-address:nth-child(1),
#foot-pc .foot-top .foot-address:nth-child(4){
	margin-right: 177px;
}
#foot-pc .foot-top .foot-address:nth-child(2),
#foot-pc .foot-top .foot-address:nth-child(5){
	margin-right: 90px;
}
#foot-pc .foot-top .foot-address:nth-child(3),#foot-pc .foot-top div:nth-child(6){
	width: 275px;
}#foot-pc .foot-top .foot-address img { position: absolute;top: -12px; left: -28px;}
#foot-pc .foot-top .foot-address h2 { font-size: 20px; line-height: 20px; margin-bottom: 15px; }
#foot-pc .foot-top .foot-address h2 em { font-size: 16px; color: rgb(119, 119, 119); display: none; }
#foot-pc .foot-top .foot-address p { font-size: 14px; color: rgb(119, 119, 119); line-height: 24px; margin-bottom: 37px; }
#foot-pc .foot-top .foot-address p b { font-weight: 100; }
#foot-pc .foot-top .foot-address p span { font-family: "Arial"; }
#foot-pc .foot-top .foot-address p span a { color: rgb(119, 119, 119); }
#foot-pc .foot-top .foot-address p span a:hover { color: rgb(255, 151, 14); }
/*#foot-pc .foot-top .foot-address i { height: 18px; padding-left: 33px; background: transparent url("../../../common/img/index_icon.png") no-repeat scroll left -92px; font-style: normal; font-size: 14px; line-height: 18px; color: rgb(119, 119, 119); cursor: pointer; }*/
#foot-pc .foot-top .foot-address em { color: rgb(119, 119, 119); font-size: 14px; line-height: 18px; background: transparent none repeat scroll 0% 0%; }
.moble_nav_btn_fiexd { display: none; }
#foot-pc .foot-bottom { background: rgb(34, 34, 34) none repeat scroll 0% 0%; }
#foot-pc .foot-top .foot-address i:hover { color: rgb(255, 144, 0); }
#foot-pc .foot-bottom .main { width: 1200px; padding: 30px 0px 25px; margin: 0px auto; }
#foot-pc .foot-bottom .main .left { width: 520px; float: left; color: rgb(102, 102, 102); }
#foot-pc .foot-bottom .main .left a { color: rgb(102, 102, 102); line-height: 12px; }
#foot-pc .foot-bottom .main .left span { display: inline-block; margin: 0px 17px; line-height: 12px; }
#foot-pc .foot-bottom .main .left p { color: rgb(102, 102, 102); line-height: 24px; font-family: "Arial"; }
#foot-pc .foot-bottom .main .foot-ico { height: 21px; margin-left: 38px; float: right; display: block; background: transparent url("../image/index_icon-1.png") no-repeat scroll left top; opacity: 0.5; }
#foot-pc .foot-bottom .main .foot-ico:hover { opacity: 1; cursor: pointer; }
#foot-pc .foot-bottom .main .foot-ico.in { width: 23px; background-position: left -56px; display: none; }
#foot-pc .foot-bottom .main .foot-ico.weibo { width: 27px; background-position: left -27px; }
#foot-pc .foot-bottom .main .foot-ico.weixin { width: 25px; background-position: left top; position: relative; }
#foot-pc .foot-bottom .main .foot-ico.weixin img { position: absolute; left: -100px; top: -217px; display: none; }
#foot-pc .foot-bottom .main .foot-ico.weixin:hover img { display: block; }
.box-map-shanghai { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; display: none; z-index: 1111111; }
.box-map-beijing { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; display: none; z-index: 1111111; }
.box-map-shenzhen { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; display: none; z-index: 11111; }
.map-mask { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.6; }
.map-main { width: 1200px; height: 600px; margin: -300px 0px 0px -600px; position: absolute; left: 50%; top: 50%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.map-main .top { height: 50px; line-height: 50px; font-size: 18px; text-indent: 15px; }
.map-main .top .map-close { width: 25px; height: 25px; margin: 10px 10px 0px 0px; background: transparent url("../image/mapclose-13.png") no-repeat scroll center top; display: block; float: right; cursor: pointer; }
.case-con { padding-top: 135px; width: 1207px; margin: 0px auto; }
.case-con h1 { margin-bottom: 105px; font-size: 40px; text-align: center; font-family: "fzlantingheis-ul-gbregular"; }
.case-con h1 i { font-style: normal; color: rgb(241, 137, 0); }
.case-series { width: 393px; float: left; overflow: hidden; border: 1px solid rgb(255, 255, 255); }
.case-series:hover { border: 1px solid rgb(241, 137, 0); -webkit-transition: all 1s ease 0s; transition: all 1s ease 0s; }
.case-series .tit { font-size: 18px; color: rgb(51, 51, 51); background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-top: 22px; padding-left: 20px; display: block; padding-bottom: 2px; }
.case-series p { color: rgb(136, 136, 136); padding-left: 20px; padding-bottom: 31px; line-height: 24px; }
.case-series.series-1 { height: 764px; overflow: hidden; margin-right: 7px; }
.case-series.series-2 { margin-right: 7px; }
.case-series.series-2 .img { height: 275px; overflow: hidden; }
.case-dc { margin-top: 122px; margin-bottom: 122px; }
.case-dc h2 { font-size: 30px; color: rgb(51, 51, 51); float: left; line-height: 143px; width: 176px; font-family: "fzlantingheis-ul-gbregular"; }
.case-dc h2 b { color: rgb(241, 137, 0); font-weight: 100; }
.case-dc i { width: 1px; height: 60px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; display: inline-block; margin-bottom: 40px; }
.case-dc i:last-child { display: none; }
.case-clw-banner { background: transparent url("../image/case-o2o-banner-bg-8.jpg") no-repeat scroll center center; width: 100%; position: relative; }
.case-inter-banner { background: transparent url("../image/examplebg.png") no-repeat scroll center center; width: 100%; position: relative;background-size:100% 100%;}
.case-clw-banner p { font-family: "fzlantingheis-ul-gbregular"; font-size: 50px; color: rgb(255, 255, 255); text-align: center; padding-top: 8.2%; font-weight: bold; }
.case-clw-banner .but-img { width: 100%; position: absolute; bottom: 8%; left: 0px; z-index: 8888; }
.case-clw-banner .but-img .but { margin: 0px auto; display: block; cursor: pointer; -webkit-animation: 3s linear 0s normal none infinite running sericobtn; animation: 3s linear 0s normal none infinite running sericobtn; }
.banner-animate { width: 900px; height: 240px; background: transparent none repeat scroll 0% 0%; position: absolute; left: 0px; bottom: 0px; top: 12%; right: 0px; overflow: auto; margin: auto; }
.banner-animate { display: none; }
.banner-animate.active { display: block; overflow: hidden;}
@-webkit-keyframes ban_ifm {
0% { width: 0px; }
100% { width: 128px; opacity: 1; }
}
@keyframes ban_ifm {
0% { width: 0px; }
100% { width: 128px; opacity: 1; }
}
@keyframes ban_ifm {
0% { width: 0px; }
100% { width: 128px; opacity: 1; }
}
@keyframes ban_ifm {
0% { width: 0px; }
100% { width: 128px; opacity: 1; }
}
@-webkit-keyframes clw_img {
100% { opacity: 1; }
}
@keyframes clw_img {
100% { opacity: 1; }
}
@keyframes clw_img {
100% { opacity: 1; }
}
@keyframes clw_img {
100% { opacity: 1; }
}
@-webkit-keyframes clw-xian1 {
10% { width: 15px; }
20% { width: 25px; }
30% { width: 35px; }
40% { width: 45px; }
50% { width: 100px; }
100% { width: 150px; opacity: 1; }
}
@keyframes clw-xian1 {
10% { width: 15px; }
20% { width: 25px; }
30% { width: 35px; }
40% { width: 45px; }
50% { width: 100px; }
100% { width: 150px; opacity: 1; }
}
@keyframes clw-xian1 {
10% { width: 15px; }
20% { width: 25px; }
30% { width: 35px; }
40% { width: 45px; }
50% { width: 100px; }
100% { width: 150px; opacity: 1; }
}
@keyframes clw-xian1 {
10% { width: 15px; }
20% { width: 25px; }
30% { width: 35px; }
40% { width: 45px; }
50% { width: 100px; }
100% { width: 150px; opacity: 1; }
}
@-webkit-keyframes clw-dian {
25% { -webkit-transform: scale(1.4); transform: scale(1.4); }
50% { -webkit-transform: scale(1.4); transform: scale(1.4); }
75% { -webkit-transform: scale(0.75); transform: scale(0.75); }
100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
@keyframes clw-dian {
25% { -webkit-transform: scale(1.4); transform: scale(1.4); }
50% { -webkit-transform: scale(1.4); transform: scale(1.4); }
75% { -webkit-transform: scale(0.75); transform: scale(0.75); }
100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
@keyframes clw-dian {
25% { -webkit-transform: scale(1.4); transform: scale(1.4); }
50% { -webkit-transform: scale(1.4); transform: scale(1.4); }
75% { -webkit-transform: scale(0.75); transform: scale(0.75); }
100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
@-webkit-keyframes clw-font {
50% { opacity: 0.5; }
100% { opacity: 1; }
}
@keyframes clw-font {
50% { opacity: 0.5; }
100% { opacity: 1; }
}
@keyframes clw-font {
50% { opacity: 0.5; }
100% { opacity: 1; }
}
@keyframes clw-font {
50% { opacity: 0.5; }
100% { opacity: 1; }
}
.oto-animate { width: 946px; height: 277px; overflow: hidden; }
.oto-animate.active .oto-animate-main { width: 946px; height: 277px; position: relative; }
.oto-animate.active .oto-animate-main .o2o-donghua-yuan { position: absolute; left: 50%; top: 50%; margin: -108px auto 0px -108px; z-index: 5; opacity: 0; -webkit-animation: 1s linear 0s normal forwards 1 running yuan; animation: 1s linear 0s normal forwards 1 running yuan; }
.oto-animate.active .oto-animate-main .o2o-donghua-line { z-index: 1; opacity: 0; -webkit-animation: 1s ease 0.8s normal forwards 1 running yuan; animation: 1s ease 0.8s normal forwards 1 running yuan; }
.oto-animate.active .oto-animate-main .o2o-donghua-left-line { position: absolute; left: 200px; top: 36px; }
.oto-animate.active .oto-animate-main .o2o-donghua-right-line { position: absolute; right: 150px; top: 13px; }
.oto-animate.active .oto-animate-main span { font-size: 16px; position: absolute; color: #dbdbdb; line-height: 16px; opacity: 0; -webkit-animation: 1s ease 1s normal forwards 1 running yuan; animation: 1s ease 1s normal forwards 1 running yuan; }
.oto-animate.active .oto-animate-main span.one { left: 243px; top: 10px; }
.oto-animate.active .oto-animate-main span.two { text-align: right; left: 57px; top: 66px; }
.oto-animate.active .oto-animate-main span.three { left: 149px; bottom: 5px; }
.oto-animate.active .oto-animate-main span.four { right: 132px; top: 5px; }
.oto-animate.active .oto-animate-main span.five { right: 15px; top: 128px; }
.oto-animate.active .oto-animate-main span.six { right: 176px; bottom: 35px; }
.oto-animate.active .o2o-donghua-dian { -webkit-animation: 1s ease 0.5s normal forwards 1 running dian; animation: 1s ease 0.5s normal forwards 1 running dian; opacity: 0;  width: 10px; height: 10px;z-index: 99;}
.oto-animate.active .o2o-donghua-dian-one { position: absolute; left: 328px; top: 36px; }
.oto-animate.active .o2o-donghua-dian-two { position: absolute; left: 200px; top: 69px; }
.oto-animate.active .o2o-donghua-dian-three { position: absolute; left: 290px; top: 128px; }
.oto-animate.active .o2o-donghua-dian-four { position: absolute; left: 243px; top: 238px; }
.oto-animate.active .o2o-donghua-dian-five { position: absolute; left: 657px; top: 13px; }
.oto-animate.active .o2o-donghua-dian-six { position: absolute; left: 627px; top: 115px; }
.oto-animate.active .o2o-donghua-dian-seven { position: absolute; left: 649px; top: 210px; }
.oto-animate.active .o2o-donghua-dian-eight { position: absolute; left: 786px; top: 130px; }
@-webkit-keyframes yuan {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes yuan {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes yuan {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes yuan {
0% { opacity: 0; }
100% { opacity: 1; }
}
@-webkit-keyframes dian {
25% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
50% { opacity: 1; -webkit-transform: scale(1.4); transform: scale(1.4); }
75% { opacity: 1; -webkit-transform: scale(0.75); transform: scale(0.75); }
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes dian {
25% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
50% { opacity: 1; -webkit-transform: scale(1.4); transform: scale(1.4); }
75% { opacity: 1; -webkit-transform: scale(0.75); transform: scale(0.75); }
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes dian {
25% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
50% { opacity: 1; -webkit-transform: scale(1.4); transform: scale(1.4); }
75% { opacity: 1; -webkit-transform: scale(0.75); transform: scale(0.75); }
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes dian {
25% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
50% { opacity: 1; -webkit-transform: scale(1.4); transform: scale(1.4); }
75% { opacity: 1; -webkit-transform: scale(0.75); transform: scale(0.75); }
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes server_main_bg {
100% { background-position: 0px 22px; }
}
@keyframes server_main_bg {
100% { background-position: 0px 22px; }
}
@keyframes server_main_bg {
100% { background-position: 0px 22px; }
}
@keyframes server_main_bg {
100% { background-position: 0px 22px; }
}
@-webkit-keyframes liangxian {
100% { background-position: center 0px; }
}
@keyframes liangxian {
100% { background-position: center 0px; }
}
@keyframes liangxian {
100% { background-position: center 0px; }
}
@keyframes liangxian {
100% { background-position: center 0px; }
}
@-webkit-keyframes dayuan {
50% { -webkit-transform: scale(1.08); transform: scale(1.08); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes dayuan {
50% { -webkit-transform: scale(1.08); transform: scale(1.08); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes dayuan {
50% { -webkit-transform: scale(1.1); transform: scale(1.1); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes dayuan {
50% { -webkit-transform: scale(1.05); transform: scale(1.05); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes xiaoyuan {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes xiaoyuan {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes xiaoyuan {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes xiaoyuan {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes yuanzi {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes yuanzi {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes yuanzi {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes yuanzi {
0% { opacity: 0; }
100% { opacity: 1; }
}
@-webkit-keyframes title {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes title {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes title {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes title {
0% { opacity: 0; }
100% { opacity: 1; }
}
@-webkit-keyframes sericobtn {
45% { opacity: 0; -webkit-transform: translate(0px, 15px); transform: translate(0px, 15px); }
100% { opacity: 1; -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}
@keyframes sericobtn {
45% { opacity: 0; -webkit-transform: translate(0px, 15px); transform: translate(0px, 15px); }
100% { opacity: 1; -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}
@keyframes sericobtn {
45% { opacity: 0; -webkit-transform: translate(0px, 15px); transform: translate(0px, 15px); }
100% { opacity: 1; -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}
@keyframes sericobtn {
45% { opacity: 0; -webkit-transform: translate(0px, 15px); transform: translate(0px, 15px); }
100% { opacity: 1; -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}
@-webkit-keyframes lefty {
50% { opacity: 1; left: 10px; right: 0px; top: 10px; bottom: 0px; }
100% { opacity: 1; right: 10px; top: -10px; }
}
@keyframes lefty {
50% { opacity: 1; left: 10px; right: 0px; top: 10px; bottom: 0px; }
100% { opacity: 1; right: 10px; top: -10px; }
}
@keyframes lefty {
50% { opacity: 1; left: 10px; right: 0px; top: 10px; bottom: 0px; }
100% { opacity: 1; right: 10px; top: -10px; }
}
@keyframes lefty {
50% { opacity: 1; left: 10px; right: 0px; top: 10px; bottom: 0px; }
100% { opacity: 1; right: 10px; top: -10px; }
}
@-webkit-keyframes righty {
50% { opacity: 1; left: 0px; right: 10px; top: -10px; bottom: 0px; }
100% { opacity: 1; left: 10px; right: 0px; top: 10px; bottom: 0px; }
}
@keyframes righty {
50% { opacity: 1; left: 0px; right: 10px; top: -10px; bottom: 0px; }
100% { opacity: 1; left: 10px; right: 0px; top: 10px; bottom: 0px; }
}
@keyframes righty {
50% { opacity: 1; left: 0px; right: 10px; top: -10px; bottom: 0px; }
100% { opacity: 1; left: 10px; right: 0px; top: 10px; bottom: 0px; }
}
@keyframes righty {
50% { opacity: 1; left: 0px; right: 10px; top: -10px; bottom: 0px; }
100% { opacity: 1; left: 10px; right: 0px; top: 10px; bottom: 0px; }
}
@-webkit-keyframes xdian {
25% { opacity: 0; -webkit-transform: scale(1); transform: scale(1); }
75% { opacity: 0.5; -webkit-transform: scale(1.4); transform: scale(1.4); }
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes xdian {
25% { opacity: 0; -webkit-transform: scale(1); transform: scale(1); }
75% { opacity: 0.5; -webkit-transform: scale(1.4); transform: scale(1.4); }
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes xdian {
25% { opacity: 0; -webkit-transform: scale(1); transform: scale(1); }
75% { opacity: 0.5; -webkit-transform: scale(1.4); transform: scale(1.4); }
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes xdian {
25% { opacity: 0; -webkit-transform: scale(1); transform: scale(1); }
75% { opacity: 0.5; -webkit-transform: scale(1.4); transform: scale(1.4); }
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes ddian {
20% { opacity: 0.5; -webkit-transform: translate(-4px, -20px); transform: translate(-4px, -20px); }
100% { opacity: 1; -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}
@keyframes ddian {
20% { opacity: 0.5; -webkit-transform: translate(-4px, -20px); transform: translate(-4px, -20px); }
100% { opacity: 1; -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}
@keyframes ddian {
20% { opacity: 0.5; -webkit-transform: translate(-4px, -20px); transform: translate(-4px, -20px); }
100% { opacity: 1; -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}
@keyframes ddian {
20% { opacity: 0.5; -webkit-transform: translate(-4px, -20px); transform: translate(-4px, -20px); }
100% { opacity: 1; -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}
@-webkit-keyframes xxdy {
15% { opacity: 0.1; width: 190px; height: 190px; }
50% { opacity: 0.2; width: 266px; height: 266px; }
100% { opacity: 0.5; width: 266px; height: 266px; }
}
@keyframes xxdy {
15% { opacity: 0.1; width: 190px; height: 190px; }
50% { opacity: 0.2; width: 266px; height: 266px; }
100% { opacity: 0.5; width: 266px; height: 266px; }
}
@keyframes xxdy {
15% { opacity: 0.1; width: 190px; height: 190px; }
50% { opacity: 0.2; width: 266px; height: 266px; }
100% { opacity: 0.5; width: 266px; height: 266px; }
}
@keyframes xxdy {
15% { opacity: 0.1; width: 190px; height: 190px; }
50% { opacity: 0.2; width: 266px; height: 266px; }
100% { opacity: 0.5; width: 266px; height: 266px; }
}
@media screen and (max-width: 1366px) {
  .banner-animate { top: 10%; }
}
#foot-pc { background: rgb(34, 34, 34) none repeat scroll 0% 0%; }
#foot-pc .foot-bottom { border-top: 1px solid rgb(47, 47, 47); }
#foot-pc .foot-top .foot-address p {margin-left: 30px; color: rgb(144, 144, 144); }
#foot-pc .foot-top .foot-address h2 {margin-left: 30px; color: rgb(144, 144, 144); }
@-webkit-keyframes one-s {
0% { -webkit-transform: scale(1); transform: scale(1); }
50% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes one-s {
0% { -webkit-transform: scale(1); transform: scale(1); }
50% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes one-s {
0% { -webkit-transform: scale(1); transform: scale(1); }
50% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes one-s {
0% { -webkit-transform: scale(1); transform: scale(1); }
50% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes one-s-three {
0% { -webkit-transform: scale(0); transform: scale(0); }
50% { -webkit-transform: scale(1); transform: scale(1); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes one-s-three {
0% { -webkit-transform: scale(0); transform: scale(0); }
50% { -webkit-transform: scale(1); transform: scale(1); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes one-s-three {
0% { -webkit-transform: scale(0); transform: scale(0); }
50% { -webkit-transform: scale(1); transform: scale(1); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes one-s-three {
0% { -webkit-transform: scale(0); transform: scale(0); }
50% { -webkit-transform: scale(1); transform: scale(1); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes one-s-four {
0% { -webkit-transform: scale(0); transform: scale(0); }
30% { -webkit-transform: scale(1); transform: scale(1); }
100% { -webkit-transform: scale(0); transform: scale(0); }
}
@keyframes one-s-four {
0% { -webkit-transform: scale(0); transform: scale(0); }
30% { -webkit-transform: scale(1); transform: scale(1); }
100% { -webkit-transform: scale(0); transform: scale(0); }
}
@keyframes one-s-four {
0% { -webkit-transform: scale(0); transform: scale(0); }
30% { -webkit-transform: scale(1); transform: scale(1); }
100% { -webkit-transform: scale(0); transform: scale(0); }
}
@keyframes one-s-four {
0% { -webkit-transform: scale(0); transform: scale(0); }
30% { -webkit-transform: scale(1); transform: scale(1); }
100% { -webkit-transform: scale(0); transform: scale(0); }
}
@-webkit-keyframes two-s {
0% { -webkit-transform: scale(1); transform: scale(1); }
50% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes two-s {
0% { -webkit-transform: scale(1); transform: scale(1); }
50% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes two-s {
0% { -webkit-transform: scale(1); transform: scale(1); }
50% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes two-s {
0% { -webkit-transform: scale(1); transform: scale(1); }
50% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes two-s-two {
0% { height: 0px; }
100% { height: 100px; }
}
@keyframes two-s-two {
0% { height: 0px; }
100% { height: 100px; }
}
@keyframes two-s-two {
0% { height: 0px; }
100% { height: 100px; }
}
@keyframes two-s-two {
0% { height: 0px; }
100% { height: 100px; }
}
@-webkit-keyframes two-s-three {
0% { width: 10px; }
100% { width: 111px; }
}
@keyframes two-s-three {
0% { width: 10px; }
100% { width: 111px; }
}
@keyframes two-s-three {
0% { width: 10px; }
100% { width: 111px; }
}
@keyframes two-s-three {
0% { width: 10px; }
100% { width: 111px; }
}
@-webkit-keyframes two-s-four {
0% { height: 0px; }
100% { height: 100px; }
}
@keyframes two-s-four {
0% { height: 0px; }
100% { height: 100px; }
}
@keyframes two-s-four {
0% { height: 0px; }
100% { height: 100px; }
}
@keyframes two-s-four {
0% { height: 0px; }
100% { height: 100px; }
}
@-webkit-keyframes two-s-five {
0% { -webkit-transform: scale(0); transform: scale(0); }
95% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes two-s-five {
0% { -webkit-transform: scale(0); transform: scale(0); }
95% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes two-s-five {
0% { -webkit-transform: scale(0); transform: scale(0); }
95% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes two-s-five {
0% { -webkit-transform: scale(0); transform: scale(0); }
95% { -webkit-transform: scale(0); transform: scale(0); }
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes three-an {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes three-an {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes three-an {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes three-an {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes three-x1 {
100% { left: 40px; }
}
@keyframes three-x1 {
100% { left: 40px; }
}
@keyframes three-x1 {
100% { left: 40px; }
}
@keyframes three-x1 {
100% { left: 40px; }
}
@-webkit-keyframes three-x2 {
100% { left: 76px; }
}
@keyframes three-x2 {
100% { left: 76px; }
}
@keyframes three-x2 {
100% { left: 76px; }
}
@keyframes three-x2 {
100% { left: 76px; }
}
@-webkit-keyframes four-xian {
100% { width: 43px; }
}
@keyframes four-xian {
100% { width: 43px; }
}
@keyframes four-xian {
100% { width: 43px; }
}
@keyframes four-xian {
100% { width: 43px; }
}
@-webkit-keyframes four-xian-r {
100% { height: 43px; }
}
@keyframes four-xian-r {
100% { height: 43px; }
}
@keyframes four-xian-r {
100% { height: 43px; }
}
@keyframes four-xian-r {
100% { height: 43px; }
}
@-webkit-keyframes four-xianyuan {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes four-xianyuan {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes four-xianyuan {
100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes four-xianyuan {
100% { -webkit-transform: scale(1); transform: scale(1); }
}

